<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Book</title>
</head>
<body>

    <p th:text="${book.getName() + ', ' + book.getAuthor() + ', ' + book.getYear()}">book</p>

    <!--  if book doesn't free  -->
    <div th:if="${owner}">
        <span th:text="${'Книга сейчас у: ' + owner.getFullName()}">person</span>
        <form th:method="PATCH" th:action="@{/books/{id}/release(id=${book.getId()})}">
            <input type="submit" value="Освободить книгу">
        </form>
    </div>

    <!--  if book free  -->
    <div th:if="${people}">
        <span>Эта книга свободна. Кому назанчить ее?</span>
        <form th:method="PATCH" th:action="@{/books/{id}/assign(id=${book.getId()})}">
            <label for="person">Выберите человека: </label>
            <select th:object="${person}" th:field="*{id}" id="person">
                <option th:each="person : ${people}" th:value="${person.getId()}" th:text="${person.getFullName()}"></option>
            </select>
            <input type="submit" value="Назначить книгу">
        </form>
    </div>

    <hr><br>

    <a th:href="@{/books/{id}/edit(id=${person.getId()})}">Редактировать</a>

    <form th:method="DELETE" th:action="@{/books/{id}(id=${person.getId()})}">
        <input type="submit" value="Удалить"/>
    </form>

</body>
</html>