<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymleaf.org">
<head>
    <meta charset="UTF-8">
    <title>All people</title>
</head>
<body>

<!--<div th:each="person : ${people}">-->
<!--    <a th:href="@{/people/{id}(id=${person.getId()})}"-->
<!--       th:text="${person.getFullName() + ', ' + person.getDateBirth()}">user</a>-->
<!--</div>-->

<table border="1">
    <tr>
        <th>ID</th>
        <th>Full Name</th>
        <th>Date Birth</th>
        <th>Email</th>
    </tr>
    <tr th:each="person : ${people}">
        <td th:utext="${person.getId()}">user</td>
        <td><a th:href="@{/people/{id}(id=${person.getId()})}" th:text="${person.getName() +
        ' ' + person.getLastName() + ' ' + person.getPatronymic()}">user</a></td>
        <td th:utext="${person.getDateBirth()}">date</td>
        <td th:utext="${person.getEmail()}">email</td>
    </tr>
</table>

<br><hr>

<a href="/people/new">Create new person</a>
<br>
<a href="../">Home</a>

</body>
</html>